@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(300deg, #99C4C8, #FEFBE7);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#music-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 10px 20px 20px 0 rgba(3, 46, 87, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
    width: 350px;
}

.img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cover {
    border-radius: 5px;
    width: 100%;
    height: 100%; 
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-btn {
    background-color: white;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    margin: 0 18px;
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
}

.music-info {
    margin: 20px auto -5px;
    width: 80%;
    text-align: center;
}

.title-container {
    height: 35px;
    text-overflow: "";
    overflow: hidden;
    white-space: nowrap;
}


#title {
    font-size: 21px;
}

.progress-container {
    background-color: #ebe8d7;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #99C4C8;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.playlist {
    width: 90%;
    position: absolute;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 1px rgba(173, 173, 173, 0.801);
    box-shadow: 10px 20px 20px 0 rgba(3, 46, 87, 0.2);
    padding: 20px;
    border-radius: 8px;
}

@media (max-width: 424px) {
    #music-container {
        width: 65vw;
    }

    #title {
        font-size: 18px;
    }

    .action-btn{
        padding: 15px 0 5px 0;
        width: 40px;
        margin: 0 8px;
    }
}

@media (max-width: 280px) {
    #title {
        font-size: 16px;
    }
    .playlist {
        width: 98%;
    }

    .action-btn{
        font-size: 99%;
        padding: 10px;
    }
    .progress-container {
        margin-top: 10px;
    }
}
